@{
    ViewData["Title"] = "Portal del Libro EF";
}

<div class="text-center">
    <h1 class="display-4">Portal de EF para Libros</h1>
    <p>
        Learn about
        <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h3><strong>Menu</strong></h3>
            <ul class="list-group">
                <li>
                    <a href="Libro/Buscar" class="list-group-item active">Buscar</a>
                </li>
                <li>
                    <a href="Libro/Create" class="list-group-item">Crear un Libro</a>
                </li>
                <li>
                    <a href="Libro/Listar" class="list-group-item">Listado de Ventas</a>
                </li>
                <li>
                    <a href="Autor/Buscar" class="list-group-item">Buscar Autor</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />