@{
    ViewData["Title"] = "Tienda de Libro Pubs";
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">Tienda de Venta de Libros</h1>
            <p>
                Learn about <a href="https://docs.microsoft.com/aspnet/core">
                    building Web apps
                    with ASP.NET Core
                </a>.
            </p>
        </div>

        <div class="col-lg-3">
            <h3><strong>Menu</strong></h3>
            <ul class="list-group">
                <li>
                    <a href="Tienda/Buscar" class="list-group-item active">Buscar</a>
                </li>
                <li>
                    <a href="Tienda/Crear" class="list-group-item">Crear un Libro</a>
                </li>
                <li>
                    <a href="Tienda/Listar" class="list-group-item">Listado de ventas</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />